[2021-11-11 22:20] pixelzoom opened #2 "Requirements for Geometric Optics: Basics"
In 11/11/21 design meeting, and in https://github.com/phetsims/geometric-optics/issues/253#issuecomment-965554211, we decided to pursue a Basics version of this sim, rather than adding an Intro screen.

[2022-02-22 04:10] pixelzoom opened #1 "Geometric Optics: Basics - Master Checklist"
# Geometric Optics: Basics main checklist

## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Review user feedback**
   - [ ] *If a Port:* [Google Form suggestions reviewed](https://docs.g

[2022-02-22 20:30] samreid commented on #2
We have faced this in Circuit Construction Kit and in Center and Spread.  For instance, in center and spread, this code only instruments the velocity of an object in the soccer screens:

[code]

To clarify.  The `velocityProperty` is always created, but a PhET-iO element is only created when appropriate.

We have also adjusted tandem names as appropriate for the context:

[code]

[2022-02-22 20:35] pixelzoom commented on #2
Yes, I can see how it can be accomplished, and I've done conditional instrumentation in the past.  It's more difficult to implement, more difficult to test fully, and harder to maintain.  So the question is: Does PhET want to incur the cost to do this?

[2022-02-22 20:50] pixelzoom opened #3 "PhET-iO design for Basics version"
@arouinfar and I discussed the general requirement in https://github.com/phetsims/geometric-optics-basics/issues/2, and how what they mean for PhET-iO instrumentation.

Changing defaults, and showing/hiding things in the sim is easy. On the other end of the spectrum is PhET-iO: it's difficult to change what PhET-iO elements are created, so that things that are not relevant to Basics are never crea

[2022-02-22 20:51] pixelzoom commented on #3
@samreid commented in #2, which is about general requirements. I'm moving that comment to this issue, which is about PhET-iO design.  Responding to the comment above, @samreid said:

We have faced this in Circuit Construction Kit and in Center and Spread.  For instance, in center and spread, this code only instruments the velocity of an object in the soccer screens:

[code]

To clarify.  The `velo

[2022-02-22 20:56] pixelzoom commented on #3
Yes thanks, I'm familiar with how it can be accomplished, and I've done conditional instrumentation in the past.  It's more difficult to implement, more difficult to test fully, and harder to maintain.  So the question is: Does PhET want to incur the cost to do this?

If PhET does decide to go down the path of conditionally instrumenting based on Basics vs Full versions, here are the Pros and Cons

[2022-02-22 20:57] pixelzoom commented on #2
This issue is supposed to be about general requirements. So moving comments related to PhET-iO design to #2.

[2022-02-22 21:10] pixelzoom commented on #3
Here's an idea.. Instead of a costly development effort to create a variation of a sim, why doesn't PhET use the PhET-iO API to create a version like Basics? Right now, I can take the full version of Geometric Optics, and customize it in Studio to look exactly like what we want for the Basics version.  But I can't turn that into something that PhET can publish.  Is using PhET-iO to create and publ

[2022-02-22 21:46] pixelzoom commented on #2
Notes to myself...  Here are the things that need to know whether we're running the Basics version, and the path to get there.

**Concave lens only**:
LensModel > Lens options.opticShapes

**Flat mirror only**:
MirrorModel > Mirror options.opticShapes

**Mirror origin centered on the screen**:
MirrorScreenView > options.getViewOrigin

**Mirror optical object positions**:
MirrorModel options.arrowO

[2022-02-23 00:00] pixelzoom commented on #2
Regarding this requirement:

I made the Basics version a bit more flexible than this. By default, numbered labels are not used in the Basics version. But if a second object/image is made visible (by setting `secondPointVisibleProperty` to true) then the sim will switch to numbered labels.

[2022-02-23 00:10] pixelzoom commented on #2
@arouinfar Geometric Optics: Basics is ready for review. The PhET-iO API (and Studio tree) is identical to Geometric Optics; we'll discuss that in #3.  But I consider it a nice "feature".

[2022-02-23 00:26] samreid commented on #3
I proposed a similar idea for simplifying the creation of sim variations in https://github.com/phetsims/chipper/issues/1153#issuecomment-1035373219.  Many of those pros and cons also apply to this proposal.

[2022-02-23 00:35] pixelzoom commented on #3
Update: _Geometric Optics: Basics_ was feature-complete < 24 hours after the creation of its repository.  The PhET-iO API (and Studio tree) is currently identical to _Geometric Optics_, and I consider that to be advantageous for PhET and clients.  If PhET decided to conditionally uninstrument/rename PhET-iO elements for Basics, I suspect that's going to take many days (if not weeks) of design and

[2022-02-23 00:45] pixelzoom commented on #2
An additional change we could make in the Mirror screen is to allow free dragging of the framed objects, and add the drag-locked toggle button.  But I'm reluctant to do that until PhET-iO decisions have been made in #3.

[2022-02-23 04:27] arouinfar commented on #3
@pixelzoom did you forget to push to master?  I've pulled all and cleared the cache, but the Studio tree for geometric-optics-basics is empty except for `phetioEngine`.

[2022-02-23 04:37] arouinfar commented on #2
@pixelzoom the sim looks great! I agree that it would be a big improvement to allow free-dragging of the object on the Mirror screen, but it makes sense to defer until #3 is settled.

[2022-02-23 04:38] samreid commented on #3
This may be due to a phet-io problem.  I'm seeing that the `simStarted` event is not processing properly, so there is an error in the console.  Probably not a geometric-optics-specific problem.  Tagging @zepumph in case he has ideas.

[2022-02-23 04:40] arouinfar commented on #3
Thanks @samreid looks like it is indeed a general problem. I tried a few other sims and they're all showing the same empty tree.

[2022-02-23 04:49] samreid commented on #3
Thanks, I moved it to a side issue.

[2022-02-23 04:55] samreid commented on #3
OK I pushed a fix in the issue.  @arouinfar can you please pull and test?

[2022-02-23 21:15] pixelzoom opened #4 "Studio tree for geometric-optics-basics is empty except for `phetioEngine`"
While attempting to test https://github.com/phetsims/geometric-optics-basics/issues/3, @arouinfar ran  into problems. That began a series of comments that are not related to that issue.  So I'm moving those comments here.

---

@arouinfar said:

@samreid said:

@arouinfar said:

@samreid said:

@samreid said:

[2022-02-23 21:17] pixelzoom commented on #3
This Studio problem is unrelated to this issue. So in an effort to keep this issue clean, I'm moving those comments to https://github.com/phetsims/geometric-optics-basics/issues/4.

[2022-02-23 22:31] zepumph commented on #4
Since https://github.com/phetsims/phet-io/issues/1845 is closed, most like this can be also.

[2022-02-23 23:43] arouinfar commented on #4
The tree is no longer empty in master, closing.

[2022-02-23 23:43] #4 closed

[2022-02-24 02:55] pixelzoom opened #5 "Allow the flat mirror to be dragged freely."
For the Basics version... An additional change we could make in the Mirror screen is to allow free dragging of all objects (including framed objects), and add the drag-locked toggle button. But I'm reluctant to do that until PhET-iO decisions have been made in https://github.com/phetsims/geometric-optics-basics/issues/3.

In https://github.com/phetsims/geometric-optics-basics/issues/2#issuecomment

[2022-02-24 02:56] pixelzoom commented on #2
Tracking free-dragging in the Mirror screen in https://github.com/phetsims/geometric-optics-basics/issues/5.

[2022-02-24 21:34] pixelzoom commented on #3
2/24/2022 design meeting:

The consensus was that "one API, one Studio tree" is a good fit for these sims.

I'm going to restore the various optics shapes, so that they can be restored via Studio, if desired.

I also notices that there's a layout problem when 'direct' is the default. The UI components to the left of the control panel are in a bad location.

[2022-02-24 22:31] pixelzoom commented on #3
Change requests from 2/24/2022 design meeting were completed in the above commits.

Ready for PhET-iO design and review.

[2022-02-25 00:18] pixelzoom opened #6 "Change initial position of framed object in Mirror screen."
Since framed objects can be freely dragged in the Mirror screen, move initial position to something like this, where the object is vertically centered on the optical axis.  The same position used in the Lens screen will probably work.

![screenshot_334](https://user-images.githubusercontent.com/3046552/155629365-6d55465d-b40c-4d08-bae5-28509370ae1a.png)

[2022-02-25 00:22] pixelzoom commented on #6
Done in the above commit. Initial position of framed object is ( -170, 27 ) for both screens in the Basics version.  @arouinfar please review, close if this looks OK.

[2022-02-25 00:35] pixelzoom commented on #5
For Basics, all objects are now freely draggable in both Lens & Mirror screens, and both screens have the drag-locked toggle button.

@arouinfar please review, close if it looks OK.

[2022-02-25 00:49] pixelzoom opened #7 "Feature-complete test drive."
_Geometric Optics: Basics_ is now feature-complete, and the design team is encourage to test drive it with high priority.  Please create new GitHub issues for any problems or change requests.   Unassign yourself when you have completed your test drive.

If there's anyone else who should be looking at the sim, please assign this issue to them.

[2022-02-25 00:51] pixelzoom commented on #7
If there's anyone else who should be looking at the sim, please assign this issue to them.

[2022-02-25 14:49] pixelzoom opened #8 "model.md"
[model.md](https://github.com/phetsims/geometric-optics-basics/edit/master/doc/model.md) should be pretty sparse, and refer to geometric-optic model.md.  For example, see [phet-scale-basics ](https://github.com/phetsims/ph-scale-basics/blob/master/doc/model.md).

[2022-02-25 14:49] pixelzoom opened #9 "implementation-notes.md"
[implementation-notes.md](https://github.com/phetsims/geometric-optics-basics/blob/master/doc/implementation-notes.md) should be pretty sparse, and refer to geometric-optic implementation-notes.md.

[2022-02-25 15:01] pixelzoom commented on #8
This is done. But I'm not going to assign for review until geometric-optics model.md has been completed.

[2022-02-25 15:02] pixelzoom commented on #9
This is done. But I'm not going to assign for review until geometric-optics implementation-notes.md has been completed.

[2022-02-25 21:43] arouinfar commented on #5
Thanks @pixelzoom, this looks great in master.

[2022-02-25 21:43] #5 closed

[2022-02-25 21:46] arouinfar commented on #6
Looks great, thanks @pixelzoom!

[2022-02-25 21:46] #6 closed

[2022-02-26 18:23] ariel-phet opened #10 "Do we need (+) label on focal length for basics?"
@pixelzoom @arouinfar

I am not sure if for basics we need the (+) label on the focal length. Since we only have a converging lens there is nothing to contrast this value with (in terms of being negative), so maybe this label is unnecessary here.

My instinct is we should remove it for basics, but not a strong opinion.

[2022-02-26 18:30] pixelzoom commented on #10
Relatively easy to remove the sign from the label -- if we didn't have to consider iO.  While Basics _by default_ only shows a converging lens, iO clients can add the diverging lens.  And then what do we do? Does the code have to restore the sign to the labels?

[2022-02-26 18:38] ariel-phet opened #11 "Consider adding one object back to mirror screen in basics"
@pixelzoom @arouinfar although I generally like the trimming down of objects we have done, I think on the flat mirror screen of basics it might be nice to reintroduce the "star" object. Noticed as part of #7

I think the star might offer a nice contrast to the penguin because of its horizontal symmetry (the pencil does have that quality but not quite as obviously), and also when I play with this s

[2022-02-26 18:52] pixelzoom commented on #11
It would certainly be easier to add 'Star' to both versions of the sim. It would be the same effort to add it to only Mirror screen vs both screens.

[2022-02-26 19:01] ariel-phet commented on #7
Test drive complete, looking great!

[2022-02-26 19:46] pixelzoom commented on #10
I don't recommend removing the Focal Length sign without addressing the potential for iO to add diverging lens.

I also recommend addressing ROC, which has the same sign issue. The iO client can change the focal-length model to 'indirect'.  We should remove the ROC sign in that case too, to be consistent.  And if they add the diverging lens and change the focal-length model to 'indirect', we shoul

[2022-02-26 23:20] pixelzoom commented on #7
Thanks @ariel-phet.

[2022-02-28 21:23] pixelzoom commented on #10
@arouinfar and I discussed.  I'm going to do what I described in https://github.com/phetsims/geometric-optics-basics/issues/10#issuecomment-1052519799.

[2022-02-28 21:23] pixelzoom commented on #11
Discussed with @arouinfar.  We'll restore the Star for both screens, in all versions.

[2022-02-28 22:07] pixelzoom commented on #11
Star object was restored in the above commit.  @ariel-phet @arouinfar please review in master.

[2022-02-28 22:27] pixelzoom commented on #11
Transferring this issue from geometric-optics to geometric-optics-basics, to make my life easier.

[2022-02-28 22:28] pixelzoom commented on #10
Transferring this issue from geometric-optics to geometric-optics-basics, to make my life easier.

[2022-03-10 20:30] pixelzoom commented on #7
I'm assuming this is done, so closing.

[2022-03-10 20:30] #7 closed

[2022-03-10 20:33] pixelzoom commented on #2
@arouinfar This is ready for review.

[2022-03-15 03:04] pixelzoom opened #12 "Memory testing (brand=phet)"
See geometric-optics test results in https://github.com/phetsims/geometric-optics/issues/372.

[2022-03-15 03:05] pixelzoom opened #13 "Memory testing (brand=phet)"
See geometric-optics test results in https://github.com/phetsims/geometric-optics/issues/372

[2022-03-17 21:38] pixelzoom commented on #13
Now that this issue is referenced in https://github.com/phetsims/geometric-optics/issues/374, I'm going to close this issue.

[2022-03-17 21:38] #13 closed

[2022-03-17 21:38] pixelzoom commented on #12
Now that this issue is referenced in https://github.com/phetsims/geometric-optics/issues/374, I'm going to close this issue.

[2022-03-17 21:38] #12 closed

[2022-03-18 19:44] pixelzoom commented on #8
@arouinfar ready for review. This should be an easy one, because it basically points over to geometric-optics, and notes a couple of differences.  If you'd like to modify, feel free to do so directly.

This must be reviewed before code review can begin.

[2022-03-18 19:56] pixelzoom commented on #9
[implementation-notes.md](https://github.com/phetsims/geometric-optics-basics/blob/master/doc/implementation-notes.md) is ready for review by whoever doese the sim code review.

[2022-03-18 19:58] pixelzoom commented on #2
From [implementation-notes.md](https://github.com/phetsims/geometric-optics-basics/blob/master/doc/implementation-notes.md), here's where we ended up with these requirements.

... here's a summary of how _Geometric Optics: Basics_ differs from _Geometric Optics_. Unless specifically noted, these differences can be "undone" via PhET-iO.

_Lens_ screen:
* Convex lens only. Possible to add concave le

[2022-03-23 22:40] arouinfar opened #14 "Sim screenshots"
Opening this issue to track the commits for screenshots.

[2022-03-23 22:45] arouinfar commented on #14
Done, closing.

[2022-03-23 22:45] #14 closed

[2022-03-24 20:49] arouinfar commented on #8
@pixelzoom sorry I missed this when reviewing model.md for the main sim. It makes sense to keep the bulk of the content in geometric-optics and note the major differences, which you've done. Closing.

[2022-03-24 20:49] #8 closed

[2022-03-28 17:29] arouinfar commented on #2
Thanks for the summary @pixelzoom. Geometric Optics: Basics looks great!

[2022-03-28 17:29] #2 closed

[2022-03-30 22:18] arouinfar opened #15 "`focalLengthControl=indirect` does nothing"
While reviewing #3 I tested all query parameters with their non-default values, including `focalLengthControl=indirect`, `add2FPointsCheckbox=false`, `addGuidesCheckbox=true`, and `cueingArrowsEnabled=false`. The latter three all behaved as expected.

However `focalLengthControl=indirect` does nothing in the Basics version. The focal length control is direct - there is a Focal Length NumberControl

[2022-03-30 22:21] pixelzoom commented on #15
It's currently behaving as was requested. From https://github.com/phetsims/geometric-optics-basics/issues/2#issuecomment-998203690, it was requested to ignore the `focalLengthControl` query parameter in GO:Basics:

@arouinfar Do you want to change that?

[2022-03-30 22:24] pixelzoom commented on #15
Not that you'd be looking at the code. But the current behavior is well-documented. In geometric-optics-basics-main.ts:

[code]

And if you do want to change the behavior, it's relatively easy to make `focalLengthControl` query parameter settable by GO:Basics.

Also note that the `focalLengthModelControl` PhET-iO element is part of the PhET-iO API (and Studio) tree in both GO and GO:Basics.

[2022-03-30 22:28] arouinfar commented on #15
Yes, let's change that. That decision pre-dated the conversation about the instrumentation of derivative sims. Clients can use `global.view.options.focalLengthModelTypeProperty` to change the focal length model, but it'd be a more consistent experience with Geometric Optics to use the query parameter. Disabling the query parameter seems unnecessary, especially since other query parameters (like Gu

[2022-03-30 23:07] arouinfar opened #16 "Possible over-instrumentation on the Mirror Screen"
For #3

On the Mirror screen in Basics, there are a few instances that seem like over-instrumenation. The features are non-existent or irrelevant, but they also don't do any harm. I don't intend to feature any of these elements, so they won't clutter up the tree for clients. I'll defer to @pixelzoom's judgment about whether or not these can or should be un-instrumented.

- [x] `mirrorScreen.view.c

[2022-03-30 23:07] arouinfar opened #17 "phetioFeatured overrides"
For #3

[2022-03-31 01:36] pixelzoom commented on #16
On hold until 1.1 prototype is published.  I don't want to introduce master changes that make it more difficult to cherry-pick.

[2022-03-31 01:37] pixelzoom commented on #15
On hold until 1.1 prototype is published.  I don't want to introduce master changes that make it more difficult to cherry-pick.

[2022-03-31 04:25] arouinfar commented on #17
The phetioFeatured overrides are ready to commit, but it can wait until after 1.1 is published.

I ended up un-featuring elements related to the opticShapeRadioButtonGroup on the Mirror Screen. If it's uninstrumented in #16, I'll need to remove the related elements in the snippet below.

<details>
<summary>phetioFeatured overrides</summary>

[code]
</details>

[2022-03-31 21:44] pixelzoom opened #18 "Geometric Optics: Basics - publish 1.2 with PhET-iO, UI Sound, Alt Input"
See notes in https://github.com/phetsims/geometric-optics/issues/387#issuecomment-1085155336.

The first public version of Geometric Optics: Basics will be 1.2.  It will be published at the same time as Geometric Optics 1.2, and its version number will be adjusted to match.

[2022-03-31 22:12] pixelzoom commented on #15
The `focalLengthControl` query parameter is now read by GO:Basics.  The associated radio buttons in the Options dialog are still excluded by default, but can be made visible via Studio/iO.

@arouinfar ready for review in master.

[2022-04-01 03:25] arouinfar commented on #15
Thanks @pixelzoom, looks good in master.

[2022-04-01 03:25] #15 closed

[2022-04-06 16:50] pixelzoom commented on #16
@arouinfar ready for review in master.   Deviations from your change requests:

* I did not change `mirrorScreen.view.controls.opticShapeRadioButtonGroup`.  We had previously decided that it was OK if the client made the single radio button visible.  And it didn't seem like it was worth the work involved.

* Additionally `mirrorScreen.view.visibleProperties.guidesVisibleProperty` is only instrumen

[2022-04-06 18:05] arouinfar commented on #16
Thanks @pixelzoom, looks good in master.

[2022-04-06 18:05] #16 closed

[2022-04-06 19:39] pixelzoom commented on #9
@jonathanolson Please review as part of code review https://github.com/phetsims/geometric-optics/issues/402.

[2022-04-15 15:13] pixelzoom commented on #17
@arouinfar what's the status of this issue? Does it need to be reviewed, or can it be closed?

[2022-04-15 15:46] arouinfar commented on #17
Initial commit has been made, but needs to be reviewed. It is good enough for a dev test, though.

[2022-04-18 16:19] Nancy-Salpepi opened #19 "Unable to check for updates"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/799, I am getting the message "Unable to check for Updates" in version 1.2.0-dev.2 and in master. This doesn't happen with the full version of Geometric Optics.

**Steps to reproduce**
1. Go to the PhET menu and select "Check for Updates"

**Visu

[2022-04-18 17:40] pixelzoom commented on #19
PHET > Check for Updates only works (and only makes sense) after a sim has been published to the PHET website.   Geometric Optics has been published, Geometric Optics: Basics has not.   So that describes the behavior here, and it's expected.  Closing.

[2022-04-18 17:40] #19 closed

[2022-04-18 22:12] KatieWoe opened #20 "Console errors while fuzzing"
For https://github.com/phetsims/qa/issues/799.
While fuzzing the sim on Win 11 Chrome for a memory test these console errors appeared. They did not seem to crash the sim.
<img width="349" alt="fuzzconsolebasics" src="https://user-images.githubusercontent.com/41024075/163885793-c250f630-150c-4a6e-9a3d-b932d9805285.png">

[2022-04-18 22:19] pixelzoom commented on #20
This a duplicate of https://github.com/phetsims/geometric-optics-basics/issues/19, but with fuzz testing instead of manually choosing PhET > Check for Updates.

[2022-04-18 22:19] #20 closed

[2022-04-18 23:55] jonathanolson commented on #9
These look great, the way the differences are described is very helpful.

[2022-04-18 23:55] #9 closed

[2022-04-19 15:20] Nancy-Salpepi opened #21 "Launched sim freezes on splash screen with Mac + safari"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/799, when making changes in the studio tree and launching sim, the launched sim often freezes on the splash screen. When I tab back to the Studio wrapper, there is an error message. This also happens in master.

This seems to be specific to Mac +

[2022-04-19 15:36] pixelzoom commented on #21
@Nancy-Salpepi or @KatieWoe Could I bother you to investigate a couple of more things?

* Is this reproducible in geometric-optics, or is it specific to geometric-optics-basics?

* Is it reproducible in master?

* If it's reproducible in master, is it reproducible with other PhET-iO sims? (e.g. ph-scale)

[2022-04-19 16:09] KatieWoe commented on #21
To number 2, it does happen on master.

[2022-04-19 16:16] KatieWoe commented on #21
I didn't see when trying on Molarity in Master. If there are specific sims you want us to try, let me know.

[2022-04-19 16:19] Nancy-Salpepi commented on #21
Yes--we were able to reproduce in geometric optics

Yes

Yes--I saw it in CCK-DC. I didn't see it in pH-scale (but will test a bit more).

[2022-04-19 16:27] Nancy-Salpepi commented on #21
I also had issues when we were testing Friction with PhET-iO so perhaps it has to do with sound? Friction, GO and CCK all have sound.
https://github.com/phetsims/friction/issues/278

[2022-04-19 16:41] samreid commented on #21
@jonathanolson and I investigated.  We could easily reproduce the problem on Safari following the instructions above.  It seems like Safari is double-adding listeners.  We added this guard:

[code]

And it seemed to get past the problem OK.  But note we aren't guarding the `window.addEventListener` above.  So we wanted to reach out to @jbphet about next steps.

[2022-04-19 17:01] jbphet commented on #21
On Slack I said (to @samreid and @jonathanolson):

[2022-04-20 19:56] KatieWoe opened #22 "Layering of tools not recorded in State"
**Device**
Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/799
If you pull multiple tools out of the tool box in State, the layering of those tools isn't necessarily the same in the bottom sim as in the top sim.
**Visuals**
<img width="519" alt="rulerlayering" src="https://user-images.githubusercontent.com/41024075/164311168-b202fa8e-70f8-4c

[2022-04-20 20:22] pixelzoom commented on #22
All tools are in one "layer". When you press on a tool, or remove it from the toolbox, it moves to the front of that layer.   This is common behavor for tools.

@zepumph @samreid is this something that you recommend making "stateful". If so, how has it been addressed in other PhET-iO sims?

[2022-04-20 20:27] samreid commented on #22
We introduced an IOType to support this, called `IndexedNodeIO`, which is described as:

or layout order.

I haven't tested it recently, so if it doesn't work out-of-the-box, please notify us.

[2022-04-20 21:06] zepumph commented on #22
Yes agreed, I would start by looking at the usage in ComboBoxListItemNode, since that is the main reason it was created.

[2022-04-20 21:12] pixelzoom commented on #22
I'm going to change the label on this from "bug" to "enhancement", since it's not a feature that was requested.

[2022-04-20 21:12] pixelzoom commented on #22
Migrating this issue from geometric-optics-basics to geometric-optics, because it's relevant to both sims, and the implementation will be in geometric-optics.

[2022-04-23 20:19] samreid opened #23 "Excess property checking for SimOptions/CreditsData"
In https://github.com/phetsims/joist/issues/795 we added types for SimOptions and CreditsData which are working well in most sims, but Geometric Optics defines the credits in a different way and hence is not doing excess property checking.  Should we make any changes?

[2022-04-24 01:48] pixelzoom commented on #23
How is it different?

[2022-04-24 18:34] samreid commented on #23
Our repos indicate 115 occurrences of `[Ss]imOptions = ...`, like this one in simula-rasa-main:

[code]

There are around 7 occurrences of `CREDITS: ...` like this one in geometric optics:

[code]

The recommendation from https://github.com/phetsims/joist/issues/795 in the joist REVIEW comments was to provide a way to type check the credits, including excess property checking.

[2022-04-25 16:41] pixelzoom commented on #23
GO is not doing any checking of credits because CreditsData didn't exist.

I added this to GOConstants.ts, the same pattern used for other options constants therein (e.g. NUMBER_CONTROL_OPTIONS):

[code]

After doing that, I see no credits in GO.  And in fact, I now see no credits in any sim.  So I'm guessing that something in https://github.com/phetsims/joist/issues/795 broken credits for all sim

[2022-05-06 14:54] KatieWoe opened #24 "CT phetioID missing from the baseline that was not an archetype:"
[code]

[2022-05-06 16:38] pixelzoom commented on #24
I did rename `geometricOpticsBasics.lensScreen.model.lens.opticShapeProperty` for #402, so there was an API change.  But geometric-optics is not included in perennial/data/phet-io-api-stable, and there is no API file for geometric-optics in phet-io-sim-specific/repos/. So I don't know why this is causing an error.

@samreid any insight?

[2022-05-06 16:41] pixelzoom commented on #24
Ah, I see the issue.  geometric-optics-basics-phet-io-overrides.js was not updated.

[2022-05-06 16:49] pixelzoom commented on #24
Addressed in the above commit. I'll leave this open until CT is happy.

[2022-05-06 17:36] pixelzoom commented on #24
CT is happy. Closing.

[2022-05-06 17:36] #24 closed

[2022-07-05 18:06] pixelzoom commented on #18
This will be the first release of this sim. It has been ready for QA since 3/18/2022 (3.5 months).  It has not progressed because it's coupled to "PhET-iO batch release", which was originally had a milestone for 4/1/2022.   Should a brand=phet release of this sim be decoupled from the "PhET-iO batch release"?

[2022-07-05 18:15] pixelzoom opened #25 "Geometric Optics: Basics - Publish 1.3 with PhET-iO, UI Sound, Alt Input"
From duplicate https://github.com/phetsims/geometric-optics-basics/issues/18#issue-1188843816:

See notes in https://github.com/phetsims/geometric-optics/issues/387#issuecomment-1085155336.

The first public version of Geometric Optics: Basics will be 1.2.  It will be published at the same time as Geometric Optics 1.2, and its version number will be adjusted to match.

[2022-07-05 18:16] pixelzoom commented on #25
This will be the first release of this sim. It has been ready for QA since 3/18/2022 (3.5 months).  It has not progressed because it's coupled to "PhET-iO batch release", which originally had a milestone of 4/1/2022.   Should a brand=phet release of this sim be decoupled from the "PhET-iO batch release"?

[2022-07-05 18:16] #18 closed

[2022-07-07 05:54] kathy-phet commented on #25
Create dev test issue and move into QA ~8/17/2022

[2022-07-11 15:54] pixelzoom commented on #17
This sim is likely to be tested and published while I'm on vacation. So it would desirable to complete this review by 7/19, so that I have time to accommodate change requests.

[2022-07-13 20:39] #17 closed, assigned to arouinfar

[2022-08-25 17:03] KatieWoe opened #26 "CT phetioID missing from the baseline that was not an archetype"
[code]

[2022-08-25 23:17] pixelzoom commented on #26
Fixed, closing.

[2022-08-25 23:17] #26 closed

[2022-09-13 21:01] pixelzoom commented on #25
8/17/2022 has come and gone, so I'm assuming that priorities have changed.

Unassigning until this becomes a priority.

[2022-10-28 01:41] pixelzoom opened #27 "Geometric Optics: Basics - publish 1.2"
From 10/27/2022 PhET-iO meeting...

Because https://github.com/phetsims/geometric-optics-basics/issues/25 (Geometric Optics: Basics - Publish 1.2 with PhET-iO, UI Sound, Alt Input) is not going to be completed for awhile, we're going to move ahead with publishing a PhET-brand version.

I'll review issues, then get this going at the beginning of next week.

[2022-10-28 01:44] pixelzoom commented on #27
We have a little version numbering problem to work out first.  To keep the version numbers in sync between GO and GO:Basics, we had bumped GO:B to 1.2.  And 2 dev version have been published for #25.  I'll ruminate on how to address this.

[2022-10-28 14:36] pixelzoom commented on #27
Correction... GO is currently at 1.1 on the PhET website. So we'd like GO:B to also be 1.1.

[2022-10-28 14:55] pixelzoom commented on #27
Two 1.2 dev versions have been published: 1.2.0-dev.1 (4/6/22) and 1.2.0-dev.2 (4/15/22).  My first thought was to delete thosedev versions, and revert GO:B package.json to "1.1.0".   But unfortunately those dev versions are references in GitHub issues. For example, 1.2.0-dev.2 is mentioned in issue https://github.com/phetsims/geometric-optics-basics/issues/19 that was created by QA.  And I don't

[2022-10-28 17:02] pixelzoom commented on #27
In https://github.com/phetsims/scenery-phet/issues/769#issuecomment-1295233125, I discovered a huge increase in memory for this (and other ) sims.  Publication is blocked until this increase is investigated and explained.

[2022-10-28 18:37] arouinfar commented on #27
Sounds good to me @pixelzoom. Let's proceed with GO:B 1.2 and re-sync the versions for the PhET-iO publication.

[2022-10-28 20:22] samreid commented on #27
(At least part of the) memory issue is due to https://github.com/phetsims/chipper/issues/1323

[2022-10-28 21:38] pixelzoom commented on #25
In https://github.com/phetsims/geometric-optics-basics/issues/27, 1.2 will be a brand=phet release.  So this release will be 1.3.  Adjusting the issue title accordingly.

[2022-10-28 21:43] pixelzoom opened #28 "Update QA credits for 1.2 release"
Update QA credits for 1.2 release https://github.com/phetsims/geometric-optics-basics/issues/27.

Credits are shared with geometric-optics-basics via GOConstants.CREDITS.

[2022-10-31 20:11] samreid commented on #27
I feel it’s unblocked and testing can happen during GO:B dev test.

[2022-10-31 20:28] kathy-phet commented on #27
I agree with Sam, let's continue with putting in a GO:B dev test (1.2). And I agree with 1.2 for GO:B, then resync with 1.3 PhET-iO on both Thanks!

[2022-10-31 20:57] pixelzoom commented on #27
So the fact that we're not even building things for the advertised "supported platforms" is not block?  OK...  I'll proceed.

[2022-10-31 21:13] pixelzoom commented on #27
Dev test submitted on 10/31/2022 🎃 :
* https://github.com/phetsims/qa/issues/847

[2022-11-03 16:21] Nancy-Salpepi opened #29 "Interactive highlight doesn't follow tool when first grabbed with touch"
**Test device**
iPad (9th generation)

**Operating System**
iOS 16

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/847, when grabbing a tool from the panel, the interactive highlight size doesn't change or move with the tool. Once you release the tool and grab it again, it works correctly.
I didn't see this issue on my mac with safari/chrome, only on the iPad

[2022-11-03 16:33] Nancy-Salpepi opened #30 "Projection Screen is missing interactive highlight"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0

**Browser**
Safari 16.1

**Problem description**
For https://github.com/phetsims/qa/issues/847, the projection screen is missing an interactive highlight.

**Steps to reproduce**
1. Turn on interactive highlights
2. On the Lens screen, select the Light scene
3. Hover over or grab the projection screen with your mouse.

**Visua

[2022-11-03 18:38] Nancy-Salpepi opened #31 "artifacts appear in light scene with Safari"
**Test device**
MacBook Air (m1 chip) and iPad 9th generation

**Operating System**
macOS 13.0 and iPadOS 16

**Browser**
safari 16

**Problem description**
For https://github.com/phetsims/qa/issues/847, in the Light scene, artifacts appear on the screen when the light is moved up and down.
I am also seeing this in the published version. I think it is a result of the newest macOS + safari versions

[2022-11-03 21:07] arouinfar opened #32 "Add focal length control to Preferences dialog"
Related to https://github.com/phetsims/qa/issues/847

We re-enabled the `focalLengthControl` query parameter in Basics in #15, but it's not currently in the Preferences dialog.

Allowing users to switch between the indirect/direct focal length modes provides more flexibility to teachers when deciding which flavor of Geometric Optics to use with their students.  We include the focal length control

[2022-11-03 23:50] pixelzoom commented on #32
@arouinfar the Focal Length Control was purposely hidden from the Preferences dialog in GO:Basics.

From the requirements that we hashed out in https://github.com/phetsims/geometric-optics-basics/issues/2#issuecomment-1072755619:

And in the GOPreferencesNode.ts, the control is initially invisible for the basics version, but can be made visible via PhET-iO

[code]

So... Do you still want to chang

[2022-11-04 00:34] pixelzoom commented on #31
There's nothing sim-specific about this problem. It's almost certainly a general problem that involves scenery.

Assign to @jonathanolson for investigation, and @kathy-phet for prioritization.

[2022-11-04 00:47] pixelzoom commented on #29
Interactive highlight is a general feature that was added in common code. It looks to me like the implementation did not consider the [Creator (with Drag forwarding)](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#creator-with-drag-forwarding) pattern, which is typically used wherever there's a toolbox.

In Geometric Optics, the base class for tools is GOToo

[2022-11-04 00:53] pixelzoom commented on #30
When interactive highlighting was implemented in common code, @jessegreenberg went around to sims and added `extends InteractiveHighlighting( Node )` were appropriate.  It looks like he missed ProjectionScreenNode.  I've added it in the above commit:

[code]

... and it appears to be working now.

@Nancy-Salpepi could you please confirm in master? Feel free to close if it looks OK.

[2022-11-04 12:00] Nancy-Salpepi commented on #30
Looks good on master. Closing

[2022-11-04 12:00] #30 closed

[2022-11-07 23:02] arouinfar commented on #32
Yes, I want to change this. A lot has happened since the initial design decisions documented in #2. We made decisions in #3 about instrumenting derivative simulations. In #15 we re-enabled `focalLengthControl`. Our approach to query parameters has also shifted within the project. I think `focalLengthControl` is an pedagogically valuable feature and adds flexibility to the simulation. Aside from th

[2022-11-07 23:26] arouinfar commented on #31
Good find @Nancy-Salpepi. Did you notice any other artifacts on Safari? Was this something you noticed often? Can you comment on the severity?

I agree with @pixelzoom, this looks like a scenery issue. It's unclear what sort of impact this may have across sims, so I think it's worth some investigation from @jonathanolson.

It looks like a similar issue was found in Mean: Share & Balance and was pa

[2022-11-07 23:33] pixelzoom commented on #31
The workaround in MSaB is really brute force, and really ugly. It's putting an expanded rectangle around the things that are leaving artifacts, to make the "redraw" area larger.   That's not generally desirable or feasible, and we're in bad shape if that's what we need to do to get clean rendering on Safari.  So I'm definitely not doing that until the general issue has gotten some attention.

[2022-11-07 23:35] pixelzoom commented on #31
QA has completed dev test https://github.com/phetsims/qa/issues/847.  Further progress is blocked until this issue is addressed.  If we wait more than a few days, we'll need to do another dev test, because master will have diverged.

[2022-11-07 23:35] pixelzoom commented on #29
QA has completed dev test https://github.com/phetsims/qa/issues/847.  Further progress is blocked until this issue is addressed.  If we wait more than a few days, we'll need to do another dev test, because master will have diverged.

[2022-11-07 23:36] pixelzoom commented on #32
Thanks @arouinfar, will do.

[2022-11-08 00:03] pixelzoom commented on #32
@arouinfar please review changes to master.

"Focal Length control" is now present in the Preferences dialog (Simulation tab) for both GO and GO:Basics. The default for GO is "indirect", the default for GO:Basics is "direct".   And both versions support the "focalLengthControl" query parameter (value = "direct"  or "indirect").

Since we're not on a release branch yet, you can close this issue if

[2022-11-08 02:17] Nancy-Salpepi commented on #31
@arouinfar it took a while for me to notice the artifacts on the projector screen, but once I did, it was very obvious to me.

I have definitely seen worse cases with safari--https://github.com/phetsims/gravity-and-orbits/issues/435

[2022-11-08 04:11] arouinfar commented on #32
Thanks @pixelzoom! Looks good in master.

[2022-11-08 04:11] #32 closed

[2022-11-08 16:10] jonathanolson commented on #31
I'll look if there's a way to force Safari SVG to force-repaint in a more global way. I don't yet have macOS 13, but I can upgrade to be able to work on this.

[2022-11-08 19:30] jessegreenberg commented on #29
This should be fixed with the above commit. Basically certain things were not being reset on `exit` events when toolbar icons became invisible. So this wasn't so much an issue with forwarding a drag listener but more exit events in general.

@Nancy-Salpepi can you please test master and confirm this is fixed?

[2022-11-08 20:22] Nancy-Salpepi commented on #29
It is indeed fixed @jessegreenberg!

[2022-11-08 20:54] pixelzoom commented on #29
I also confirmed that it's fixed in master. Thanks @jessegreenberg. Closing.

[2022-11-08 20:54] #29 closed

[2022-11-08 21:05] pixelzoom commented on #28
According to @KatieWoe, no updates required after dev test 1.2.0-dev.3, https://github.com/phetsims/qa/issues/847.

[2022-11-08 23:31] marlitas commented on #31
Wanted to correct this comment. We identified the guilty path causing the artifacts and set it to `renderer: canvas`. Not suggesting that this is a scalable option either. Creating an anti-artifact rectangle actually did not work at all in our case either and `renderer: canvas` was the fallback option.

[2022-11-09 16:34] marlitas commented on #31
@samreid and I found a hacky way to fix this and wanted to post it here in case it would be of any help to @jonathanolson.

We co-opted the PointerAreas overlay to cover the entire sim screen, and this seemed to trick Safari enough to remove artifacts. You can try it out with this patch:

<details>

[code]
</details>

We confirmed this is fixed on MacOS 13 and Safari 16.1

[2022-11-10 18:15] kathy-phet commented on #31
@pixelzoom - Met with JO and he will work on baking on a workaround in scenery for Safari, so that the work around isn't sim specific. Seems like Safari is not updating SVG drawing quite right.

We will want to test performance on Safari after the fix.

@jonathanolson - Is this something where a bug report to Safari makes sense?? So they may fix it in a future version.

[2022-11-10 19:02] kathy-phet commented on #31
@jonathanolson - Consider for combining with ?allowlinks maintenance release as you do this fix.

[2022-11-10 19:26] pixelzoom opened #33 "CT: Assertion failed: no item found that has focus"
A new issue has popped up in CT.  Maybe related to the fix for interactive highlighting in https://github.com/phetsims/geometric-optics-basics/issues/29?  Assigning to @jessegreenberg. This blocks the next dev/RC test.

[code]

[2022-11-10 19:29] jessegreenberg commented on #33
Thanks. I think more general to alt input than interactive highlighting. The combination of mouse + keyboard input is likely important to reproduce. I am guessing this is more an issue with ComboBox, I might move this issue to sun soon.

[2022-11-10 20:12] jessegreenberg commented on #33
I was able to reproduce this after several minutes of fuzzing and I think the problem is caused by https://github.com/phetsims/scenery/issues/1497.

[2022-11-10 23:03] pixelzoom commented on #27
11/10/2022  check-in meeting:

* No one knows what big changes have been made in master since 1.2.0-dev.3 was published.
* #31 (@jonathanolson) and #33 (@jessegreenberg) must be resolved before proceeding, then
* Cross our fingers, create the 1.2 release branch, and proceed with RC testing.

[2022-11-11 16:56] jessegreenberg commented on #33
Alright, https://github.com/phetsims/scenery/issues/1497 has been fixed. It ended up being an issue with our InputFuzzer.js and KeyboardFuzzer.ts. So there is nothing to verify or cherry-pick into a dev/RC SHAs.

[2022-11-11 17:01] pixelzoom commented on #33
Great, thanks @jessegreenberg.  I'm going to leave this issue open over the weekend to let CT run a few more times, will close on Monday if all is well.

[2022-11-12 02:29] jonathanolson commented on #31
@samreid @marlitas the overlay style approach seems to help this issue, but does NOT seem to help the GAO issue. Did you see your solution helping both?

<img width="193" alt="image" src="https://user-images.githubusercontent.com/480878/201452450-fefd620f-eaf2-4d82-a07c-df9b9caade35.png">
I'm getting this line visual, while paused, while I'm force-changing a rectangle in front (that's very visual)

[2022-11-12 02:30] jonathanolson commented on #31
Patch for overlay with flashing color:

<details>

[code]

</details>

[2022-11-12 02:41] jonathanolson commented on #31
Forcing a repaint IN every single SVG element still doesn't help:

<img width="206" alt="image" src="https://user-images.githubusercontent.com/480878/201452745-488b5d55-2865-4532-8500-ebbffb00bdc3.png">

<details>

[code]

</details>

[2022-11-12 02:51] jonathanolson commented on #31
<img width="176" alt="image" src="https://user-images.githubusercontent.com/480878/201453209-5cefa5a6-da4c-438a-83e4-7265ebfc4d94.png">

The line seems to be along the top of the bounding box of the arrow pointing down and to the right.

[2022-11-12 02:53] jonathanolson commented on #31
<img width="137" alt="image" src="https://user-images.githubusercontent.com/480878/201453234-fd1a06da-ebee-4b4c-a8f4-45338d10211a.png">

Adjusting the stroke of the arrow results in the buggy line also changing to that color.

Here's a given path description that's buggy:

[code]

[2022-11-12 03:10] jonathanolson commented on #31
Fairly minimal example of the Safari GAO issue:

[code]

is resulting in the buggy case for me:
<img width="82" alt="image" src="https://user-images.githubusercontent.com/480878/201453797-1c0641e2-f7b1-4ce5-8649-f62a875c45cb.png">

[2022-11-12 03:11] jonathanolson commented on #31
Adding a "M 0 0" (move to 0,0) at the end of the path seems to work around the issue:

[code]

<img width="78" alt="image" src="https://user-images.githubusercontent.com/480878/201453834-6429d253-512f-47c6-85aa-4880ccc8b8e8.png">

[2022-11-12 03:31] jonathanolson commented on #31
Unfortunately... BOTH workarounds are needed (neither affects the other). The overlay workaround may reduce some performance (@KatieWoe can I build some versions or do some dev versions to compare?)

@Nancy-Salpepi can you verify that the above commit fixes this issue?

[2022-11-12 03:43] jonathanolson commented on #31
In case I can work around this in a more performant way (e.g. using Line differently in Safari SVG, with a path instead of a line segment), I'm checking into the reproduction.

Does not update with line color. Cannot isolate with HTML, repaints trigger a clear.

<img width="121" alt="image" src="https://user-images.githubusercontent.com/480878/201454717-9a4a3f1a-0259-4b9c-8b57-983023a7df59.png">

[2022-11-12 03:44] jonathanolson commented on #31
<img width="123" alt="image" src="https://user-images.githubusercontent.com/480878/201454759-5ee6c387-3f03-4c25-9e7c-54afa2784535.png">

Not related to the lines' stroke

[2022-11-12 03:47] jonathanolson commented on #31
<img width="92" alt="image" src="https://user-images.githubusercontent.com/480878/201454847-ffb42b02-8546-4525-87dd-d4d8639bf386.png">

Matches the stroke of the projection path.

[2022-11-12 03:51] jonathanolson commented on #31
Buggy path (conditional):

[code]

[2022-11-12 03:56] jonathanolson commented on #31
Adjusting things with the path doesn't work. Adjusting line segments to be displayed in SVG with paths with the other workaround isn't effective. Anything that repaints the trapezoid removes the buggy issue.

I think it's best to see the performance impact of the workaround.

[2022-11-13 19:46] pixelzoom commented on #33
CT seems to be happy. Closing.

[2022-11-13 19:46] #33 closed

[2022-11-14 13:42] Nancy-Salpepi commented on #31
@jonathanolson this looks fixed on the mac/iPad. I wasn't able to produce any artifacts on master.

[2022-11-16 16:43] pixelzoom commented on #31
@jonathanolson what's the status here? I see you're still doing performance comparisons in https://github.com/phetsims/qa/issues/856.  This is the sole issue blocking RC publication.

[2022-11-16 20:07] kathy-phet commented on #31
@pixelzoom - I'm lifting the blocks publication on this. We will use the workaround that is in place.

[2022-11-16 20:08] kathy-phet commented on #31
@jonathanolson - Leaving this open for you until the maintenance release issue is created.

[2022-11-17 01:49] jonathanolson commented on #31
Bug reports submitted:

https://bugs.webkit.org/show_bug.cgi?id=248003
https://bugs.webkit.org/show_bug.cgi?id=248004
https://bugs.webkit.org/show_bug.cgi?id=248005

[2022-11-18 16:00] pixelzoom commented on #31
Let me see if I can summarize, since I want to move forward with this:

* @jonathanolson has opened some bug reports with WebKit
* @kathy-phet is OK with using the Safari-only overlay that was added in https://github.com/phetsims/scenery/commit/8ebb1eb3aae93a70a746f841818228f943581bb7
* I can preceed with GO:Basics RC, and any futher fix/change will be a maintenance release

Do I have that correct

[2022-11-18 16:02] arouinfar commented on #31
@pixelzoom your summary looks accurate to me.

[2022-11-18 16:03] kathy-phet commented on #31
Me too. Thanks for making the common-code issue, for the permenant fix ... which can only come of Safari fixes their bugs.

[2022-11-18 16:08] pixelzoom commented on #31
Further work on this will be done in https://github.com/phetsims/scenery/issues/1502.

[2022-11-18 16:19] pixelzoom opened #34 "Verify workaround for Safari graphics artifacts"
Originally reported in https://github.com/phetsims/scenery/issues/1503 by @Nancy-Salpepi.

There are graphics artifacts that appear in the new Safari 16.   A workaround was applied, but needs to be verified in RC testing.

[2022-11-18 16:34] pixelzoom commented on #34
Ready to review for RC test https://github.com/phetsims/qa/issues/858.

Please close this issue if it verifies OK.

[2022-11-18 23:21] KatieWoe opened #35 "2F points still visible when checkbox is disabled by preference menu"
**Test device**
Samsung
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/858
If the 2F points are on and you remove the checkbox with the preferences setting, the points remain and can't be removed until you reenable the checkbox.
**Steps to reproduce**
1. Go to the Lens screen
2. Turn on 2F points
3. Go to the preferences menu and tu

[2022-11-19 03:25] pixelzoom commented on #35
I don't think this is a bug, it's the behavior that I expected.  The Preference is whether the checkbox is visibile; it's not whether the points are visible. And hiding the 2F Points checkbox shouldn't hide the 2F points, because a PhET-iO instructional designer may want to show the 2F points, but hide the checkbox to prevent the student from turning them off.

@arouinfar do you agree? If so, plea

[2022-11-19 04:00] arouinfar commented on #35
Yes, completely. Thanks @pixelzoom.

Will do!

[2022-11-19 04:00] #35 closed

[2022-11-22 13:28] Nancy-Salpepi commented on #34
I am really sorry to say this, but I was able to produce an artifact when the light spot was really large. I have to be moving the light very slowly and it quickly disappears making it much harder to notice. @pixelzoom @kathy-phet @jonathanolson I'm really sorry I didn't find it in https://github.com/phetsims/scenery/issues/1503.
<img width="1049" alt="Screenshot 2022-11-22 at 7 46 37 AM" src="htt

[2022-11-22 15:37] pixelzoom commented on #34
Bummer.

Back to @jonathanolson for futher investigation.

[2022-11-22 15:44] pixelzoom commented on #34
So that we can get this sim published, an option is to publish with this as a known problem, then address it as part of the maintenance release that will be needed for all sims in https://github.com/phetsims/scenery/issues/1503.  @arouinfar @kathy-phet what do you think of that plan?

[2022-11-22 16:10] arouinfar commented on #34
@pixelzoom let's move forward with publication and wait for the maintenance release to fix this issue. The artifacts are a bit unsightly, but I don't think they have any serious impact on usability that would warrant delaying publication.

[2022-11-22 16:17] kathy-phet commented on #34
@jonathanolson has invested a lot of time to investigating, and at the moment, I do not think further investigation is the best use of his time. The bug is in Safari, and the issues have been submitted. We will give them time to address the issues as there is no reasonable work around on our end, it seems. The issues are transient and do not interfere with the usability of the sim.

@arouinfar @pi

[2022-11-22 22:32] KatieWoe opened #36 "White outline around icons"
**Test device**
MacBook Pro and Dell
**Operating System**
MacOS 13 and Win 11
**Browser**
Safari and Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/858
On the home screen, the icons are outlined in bright white when the icon is greyed out (not selected). This seems out of the ordinary.

**Visuals**
<img width="714" alt="whiteoutline" src="https://user-images.githubusercon

[2022-11-22 23:02] pixelzoom commented on #36
This is true of the published version of Geometric Optics (1.1.1).  It's a leftover from when this sim used to have "projector mode", and I've removed it in master.

I'll defer to @arouinfar on whether to address it in GO:Basics 1.2.  My recommendation is to leave it as-is in the 1.2 branch.

[2022-11-28 18:25] arouinfar commented on #36
Good spot @KatieWoe.

Agreed @pixelzoom. Glad you fixed it on master, but no need to cherry-pick into 1.2. Closing.

[2022-11-28 18:25] #36 closed

[2022-11-29 17:58] pixelzoom commented on #34
@kathy-phet said:

The issue to mark "on-hold" is the general issue, https://github.com/phetsims/scenery/issues/1503, and I've done so.

Since we don't intend to do anything sim-specific to address this, and will publish this as a known problem, I'm going to close this issue as "won't fix".

[2022-11-29 17:58] #34 closed

[2022-11-30 00:58] pixelzoom commented on #28
Following phetsims/qa#858, @KatieWoe said:

[2022-11-30 01:20] pixelzoom commented on #28
After completing phetsims/qa#853, @KatieWoe asked me to add Jaron Droder to QA credits.

[2022-11-30 01:34] pixelzoom commented on #28
Final credits for 1.2.0 are shown in the screenshot below. Closing.

<img width="644" alt="screenshot_1991" src="https://user-images.githubusercontent.com/3046552/204685789-83ccacec-ddf4-46d1-817b-d2dd35c5213c.png">

[2022-11-30 01:34] #28 closed

[2022-11-30 01:48] pixelzoom commented on #27
11/29/2022:

I updated QA credits for #28, which required publishing 1.2.0-rc.2 before I could publish a production version. So 1.2.0-rc.2 did not go through QA, and I spot-checked the QA credits.

1.2.0 was published.

[2022-11-30 16:16] pixelzoom commented on #27
1.2.0 was published on 11/30/2022.

[2022-11-30 16:16] #27 closed